img{
    height: auto;
    width: 500px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container div {
    background-color: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 auto;
}
/*
.flex-container .two {
    flex: 2 1 0%;
}
*/
.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
}
html, body {
    background-color: #ffeead;
    margin: 10px;
}
.container > div:nth-child(1) {
    background-color: #96ceb4;
}
.container > div:nth-child(2) {
    background-color: #ff6f69;
}
.container > div:nth-child(3) {
    background-color: #88d8b0;
}

